[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
django = "*"
djangorestframework = "*"
scipy = "*"
psycopg2-binary = "*"
pillow = "*"
psycopg2 = "*"

[requires]
python_version = "3.6"
